---
layout: default
title: Ecogrid Energia
---
<header>
	<div class="container">
		<div class="column">
			<div>
				<h1 class="editable">Ecogrid Energia</h1>
				<p class="editable">Certificado de Ahorro Energético CAE.      Gestion Huella de Carbono.</p>
				<div class="button">
					<a href="#contacto">Contáctanos</a>
				</div>
			</div>
		</div>
		<div class="column">
			<img src="{{ site.baseurl }}/images/carbon.jpg" alt="Sheep">
		</div>
	</div>
</header>

<div id="servicios" class="container">
	<h2 class="editable" style="text-align: center;">Servicios Energeticos</h2>

	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="population" %}</div>
			<h3 class="editable">Personas</h3>
			<p class="editable">Bajar nuestra huella de carbono es nuestra responsabilidad. </p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="economy" %}</div>
			<h3 class="editable">Economía</h3>
			<p class="editable">Los ahorros conseguidos compensan la inversión.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="conditions" %}</div>
			<h3 class="editable">Impacto</h3>
			<p class="editable">Modela tu huella de carbono en el entorno.</p>
		</li>
	</ul>
</div>

<div class="container">
	<div class="columns">
		<div>
			<img src="{{ site.baseurl }}/images/wavy.jpg" alt="Sheep">
		</div>
		<div>
			<h2 class="editable">Nuestra Misión</h2>

			<p class="editable">EN ECOGRID, ESTAMOS PARA BRINDARLE EL CONOCIMIENTO Y LOS SERVICIOS QUE NECESITA PARA MANTENER SU NEGOCIO EN CRECIMIENTO MIENTRAS ADMINISTRA EFICIENTEMENTE SUS COSTES.</p>
		</div>
	</div>
</div>

<div class="container">
	<hr>
</div>

<div class="container">
	<blockquote>
		<p class="quote editable">Los certificados de ahorro energetico me han solucionado parte de mi inversión económica, junto con el propio ahorro de la actuación, he conseguido bajar el impacto ecológico y económico de mi casa.</p>
		<div class="attribute">
			<p class="meta">
				<span class="image"><img class="editable" src="{{ site.baseurl }}/images/carlos-gutierrez.jpg" alt="Imagen de Carlos Gutiérrez"></span>
				<span class="author editable"><strong>Carlos Gutiérrez</strong></span>
			</p>
		</div>
	</blockquote>
</div>

<div class="darker">
	<div id="contacto" class="container">
		<h2 class="editable">Contáctanos</h2>
		<p class="editable" style="text-align: center;">Dejanos tus datos y nos pondremos en contacto contigo lo antes posible.</p>
		<form action="" method="post">
			<input type="text" name="nombre" required placeholder="Nombre *"><br/>
			<input type="text" name="email" required placeholder="Email *"><br/>
			<input type="text" name="telefono" placeholder="Teléfono"><br/>
			<input type="text" name="kw" placeholder="KWS"><br/>
			<input type="submit" value="Enviar"/>
		</form>
	</div>
</div>

<div class="container hrContainer">
	<hr>
</div>

<div id="noticias" class="darker">
	<div class="container">
		<h2 class="editable">Noticias</h2>
		<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Update</a></p>
		<div class="posts">
			{% for post in site.posts %}
				<div class="post">
					<div class="image" style="background-image: url({{ post.featured_image}})"></div>
					<div class="post-content">
						<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
						<h3>{{ post.title }}</h3>

						{{ post.content }}
						<p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="btn"><strong>&#9998;</strong> Edit Update</a></p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
